<header>
    <nav>
        <% if (role) { %>
            <p style="float: right;"><a href="/logout">Logout</a></p>
            <p style="float: right;">
                <%= role %> : <%= name %>
            </p>
            <% } %>
    </nav>
</header>